*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: goldenrod;
}

h1, h2{
  text-align: center;
  color:rgb(188, 9, 9)
}

h1{
  font-size: 4em;
}
img{
  display: block;
  height: 450px;
  width: 550px;
  margin: 0 auto;
}

ul{
  width: 100%;
  list-style: none;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  width: 94px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
button{
  height: 40px;
  width: 100px;
  border-radius: 10%;
  border: 1px solid black;
}




/*#mountains{
  background: rgba(241,63,247,1);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#lakes{
  background: rgba(0,253,81,1);
}
#roads{
  background: rgba(0,254,255);
}
#valleys{
  background: rgba(255,140,0,1);
}
#animals{
  background: yellow;
}*/